body
{
    background-image: url("images/skulls.png");
}
.main
{
    background-image: url("images/stardust.png");
    width: 630px;
    height: 550px;
    margin-top: 67px;
    margin-left: 370px;
    border: 2px solid rgb(0,0,0);
    border-radius: 8px;   
    position: absolute;
}
.bottomRect
{
    background-image: url("images/symphony.png");
    padding-left:3px;
    padding-top: 3px;
    font-size: 17px;
    width: 615px;
    height: 99px;
    margin-top: 440px;
    margin-left: 4px;
    border: 2px solid rgb(0,0,0);
    border-radius: 8px;    
    position: absolute;
    overflow: auto;
}
.rightRect
{ 
     background-image: url("images/symphony.png");
    width: 160px;
    height: 428px;
    margin-top: 4px;
    margin-left: 462px;
    border: 2px solid rgb(0,0,0);
    border-radius: 8px;  
    position: absolute;
}
.leftRect
{ 
     background-image: url("images/symphony.png");
    padding-left:3px;
    padding-top: 3px;
    width: 447px;
    height: 425px;
    margin-top: 4px;
    margin-left: 4px;
    border: 2px solid rgb(0,0,0);
    border-radius: 8px;  
    position: absolute;
   
    font-size: 17px;
    
   
    
    
}
.members
{
    margin-left: 468px;
    margin-top: 8px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    font-family:sans-serif;
}
.sendBut
{
    text-align: center;
    vertical-align: middle;
    font-size:17px;
     width: 87px;
    height: 27px;
    margin-top: 552px;
    margin-left: 5px;
    border: 2px solid rgb(0,0,0);
    border-radius: 8px;
    position: absolute;
     font-weight: bold;
   
    
    background: orange;
    color: #FFFFFF;
    border: solid 1px khaki;
    cursor: pointer;
    background: -moz-linear-gradient(0% 100% 90deg, orange, khaki);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(khaki), 
    to(orange));
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.25); 
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.sendBut:hover 
{ 
    background: orange; 
    background: -moz-linear-gradient(0% 100% 90deg, orange, darkorange);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkorange), to(orange));
}
.sendBut:active 
{
    background: orange; 
    background: -moz-linear-gradient(0% 100% 90deg, orange, darkorange);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkorange), 
    to(orange));
    box-shadow: inset 1px 1px 0 0 #004A7F;
    -moz-box-shadow: inset 1px 1px 0 0 #004A7F;
    -webkit-box-shadow: inset 1px 1px 0 0 #004A7F;
    padding: 3px 8px 2px 9px;
}
.log_in
{
    width: 100px;
    height: 24px;
    margin-top: 407px;
    margin-left: 492px;
    border: 2px solid rgb(0,0,0);
    border-radius: 8px;  
    position: absolute;
    text-align: center;
     font-size: 17px;
    font-weight: bold;
    
     background: khaki;
    color: #FFFFFF;
    border: solid 1px darkkhaki;
    cursor: pointer;
    background: -moz-linear-gradient(0% 100% 90deg, khaki, darkkhaki);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkkhaki), 
    to(khaki));
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.25); 
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.log_in:hover 
{ 
    background: khaki; 
    background: -moz-linear-gradient(0% 100% 90deg, khaki, olive);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(olive), to(khaki));
}
.log_in:active 
{
    background: khaki; 
    background: -moz-linear-gradient(0% 100% 90deg, khaki, olive);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(olive), 
    to(khaki));
    box-shadow: inset 1px 1px 0 0 #004A7F;
    -moz-box-shadow: inset 1px 1px 0 0 #004A7F;
    -webkit-box-shadow: inset 1px 1px 0 0 #004A7F;
    padding: 3px 8px 2px 9px;
}
.username
{
    background-color: lemonchiffon;
    padding-left:3px;
    padding-top: 1px;
    width: 153px;
    height: 20px;
    margin-top: 382px;
    margin-left: 464px;
     border: 2px solid burlywood;
    border-radius: 8px;  
    position: absolute;
     font-size: 17px;
    font-weight: bold;
    overflow: auto;
}
#deleteMessageButton {   
    position: absolute;
    left: 430px;

}
#editMessageButton {   
    position: absolute;
    left: 414px;

}
.inputField
{
    position: absolute;
    left:70px;
    border: 2px solid rgb(0,0,0); 
    width: 340px;
    overflow-x: auto;
    background-color: white;
    border-radius: 8px;
}
.text
{
    white-space: pre-wrap;
    word-wrap: break-word;
}
.showServerStatus
{
    width: 390px;
    height: 26px;
    margin-top: 39px;
    margin-left: 410px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}





